.home {
  .home-banner {
    text-align: center;

    @media (min-width: $sm-tab) {
      font-size: 4rem;
    }
    @media (min-width: $lg-tab) {
      font-size: 6rem;
    }
    @media (min-width: $sm-laptop) {
      font-size: 8rem;
    }
  }
}
