$primary-blue: #346df1;
$primary-black: #3c4858;
$white: #ffffff;

$font-xxl: 36px;
$font-xl: 26px;
$font-sm: 12px;
$font-nm: 16px;
$font-md: 17px;
$font-snm: 15px;

$desktop: 1960px;
$md-laptop: 1440px;
$sm-laptop: 1200px;
$lg-tab: 1024px;
$tab: 768px;
$sm-tab: 570px;
$sm-mobile: 360px;

@mixin WIDTH {
  @media (min-width: $sm-tab) {
    max-width: 720px;
  }
  @media (min-width: $lg-tab) {
    max-width: 960px;
  }
  @media (min-width: $sm-laptop) {
    max-width: 1140px;
  }
}

.heading1 {
  font-size: 36px;
  color: $primary-black;
  font-weight: 700;
  line-height: 54px;
}

.heading2 {
  font-size: 26px;
  color: $primary-black;
  font-weight: 600;
  line-height: 42px;
}

.heading3 {
  font-size: 24px;
  color: $primary-black;
  font-weight: 400;
  line-height: 40px;
}

.heading4 {
  font-size: 20px;
  color: $primary-black;
  font-weight: 600;
  line-height: 34px;
}

.round-text-box {
  padding: 0.75rem 0.25rem;
  border-radius: 7px;
  text-align: center;
  font-size: $font-md;
  font-weight: 600;
}

.three-d {
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Pacifico', cursive;
  color: #f5f5f5;
  letter-spacing: 10px;
  font-size: 8rem;
  animation: popup infinite 5s ease-in-out;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);

  @media (max-width: 570px) {
    font-size: 2.2rem;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
      1px 4px 1px #919191, 1px 5px 1px #919190,
      1px 8px 5px rgba(16, 16, 16, 0.4), 1px 12px 10px rgba(16, 16, 16, 0.2),
      1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
  }
  @media (min-width: 570px) {
    font-size: 4rem;
    letter-spacing: 3px;
  }
  @media (min-width: 1024px) {
    font-size: 6rem;
  }
  @media (min-width: 1200px) {
    font-size: 8rem;
  }
}

@keyframes popup {
  0% {
    color: #fff;
    text-shadow: none;
    // text-shadow: 0px 0px 0px #919191, 0px 0px 0px #919191, 0px 0px 0px #919191,
    //   0px 0px 0px #919191, 0px 0px 0px #919191, 0px 0px 0px #919191,
    //   0px 0px 0px #919191, 0px 0px 0px #919191, 0px 0px 0px #919191,
    //   0px 0px 0px #919191, 0px 0px 0px rgba(16, 16, 16, 0.4),
    //   0px 0px 0px rgba(16, 16, 16, 0.2), 0px 0px 0px rgba(16, 16, 16, 0.2),
    //   0px 0px 0px rgba(16, 16, 16, 0.4);
  }

  50% {
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
      1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
      1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
      1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
      1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
      1px 30px 60px rgba(16, 16, 16, 0.4);
  }
  100% {
    color: #fff;
    text-shadow: none;
    // text-shadow: 0px 0px 0px #919191, 0px 0px 0px #919191, 0px 0px 0px #919191,
    //   0px 0px 0px #919191, 0px 0px 0px #919191, 0px 0px 0px #919191,
    //   0px 0px 0px #919191, 0px 0px 0px #919191, 0px 0px 0px #919191,
    //   0px 0px 0px #919191, 0px 0px 0px rgba(16, 16, 16, 0.4),
    //   0px 0px 0px rgba(16, 16, 16, 0.2), 0px 0px 0px rgba(16, 16, 16, 0.2),
    //   0px 0px 0px rgba(16, 16, 16, 0.4);
  }
}

@keyframes popup-sm {
  0% {
  }
}

.gradient-text {
  background: rgb(234, 67, 53);
  background: linear-gradient(
    90deg,
    rgba(234, 67, 53, 1) 0%,
    rgba(52, 168, 83, 1) 36%,
    rgba(66, 133, 244, 1) 68%,
    rgba(251, 188, 4, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;

  h1 {
    font-size: 2rem;
    font-family: 'Pacifico';
  }
}
