@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import './variables';
@import './navbar';
@import './sidebar';
@import './footer';
@import './pages';
@import './animated';

* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;

  &::after {
    box-sizing: border-box;
  }

  &::before {
    box-sizing: border-box;
  }
}

a {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}

b {
  font-weight: 700;
}

.align-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.btn {
  display: inline-block;
  position: relative;
  padding: 12px 30px;
  margin: 0.3125rem 1px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.428571;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 0.2rem;
  outline: 0;
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow, transform;
  &:not(:disabled) {
    cursor: pointer;
  }
  &:not(.disabled) {
    cursor: pointer;
  }
}

.btn-primary {
  background-color: $primary-blue;
  color: $white;
  font-size: $font-sm;
  line-height: 17.2px;
  box-shadow: 0 0 2px 1px rgba($color: $primary-blue, $alpha: 0.45);

  &:hover {
    box-shadow: 0 1px 6px 1px rgba($color: $primary-blue, $alpha: 0.85);
  }
}

.btn__telegram {
  background-color: #20a0e1;
  color: $white;
  display: flex;
  align-items: center;
  width: fit-content;
}

.btn__discord {
  background-color: #2c2f33;
  color: $white;
  display: flex;
  align-items: center;
  width: fit-content;
}

// Card
.card {
  padding: 0 0px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);

  min-height: 56vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #image-testimonial-1 {
    background-image: url('../images/home-events.jpg');
  }

  #image-testimonial-2 {
    background-image: url('../images/cpf.png');
  }

  #image-testimonial-3 {
    background-image: url('../images/home-sponsors.jpg');
  }

  #event-image-1 {
    background-image: url('../images/event-image-1.jpeg');
  }

  @media (max-width: $tab) {
    margin: 1rem 0;
  }

  .card__image {
    min-height: 30vh;
    max-height: 30vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.collapse {
  display: none;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;

  @include WIDTH;
}

.faded-text {
  color: #ddd;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.fixed-top {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.fixed-bottom-container {
  position: absolute;
  bottom: 0;
}

.fixed-top-container {
  position: absolute;
  top: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-center {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.hgaps-sm {
  padding: 0 15px;
}

.icon-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  &__icon {
    margin-right: 3rem;
    &-circle {
      display: grid;
      place-items: center;
      width: 55px;
      height: 55px;
      background-color: $primary-black;
      border-radius: 50%;
    }
  }
  &__text {
    font-size: $font-xl;
    color: $primary-black;
    font-weight: 400;
    text-transform: capitalize;
  }
}

.ml-auto {
  margin-left: auto;
}

.no-hgaps-sm {
  @media (max-width: $sm-tab) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.no-hgaps-tab {
  @media (max-width: $tab) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.no-hgaps {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.paragraph {
  font-size: 17px;
  line-height: 26.4px;
  color: #404040;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.text-center-tab {
  @media (max-width: $tab) {
    text-align: center;
  }
}

.vertical-gap-sm {
  margin: 1.2rem 0;
}

.vertical-gap {
  margin: 2rem 0;
}

.vertical-gap-lg {
  margin: 4rem 0;
}

.vgaps-mbl-sm {
  @media (max-width: $sm-tab) {
    margin: 0.75rem 0;
  }
}

.vgaps-tab-sm {
  @media (max-width: $tab) {
    margin: 0.75rem 0;
  }
}

.vh-75 {
  min-height: 75vh;
  width: 100%;

  @media (max-width: $tab) {
    min-height: 26vh;
  }
  @media (max-width: 540px) {
    min-height: unset;
  }
}

.w-100 {
  width: 100%;
}

.z-push-back {
  z-index: -10;
  // height: 100%;
}

// Row
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-lg-4 {
    @media (min-width: 992px) {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
  }

  .col-lg-6 {
    @media (min-width: 992px) {
      flex: 0.5;
      max-width: 50%;
    }
  }

  .col-lg-8 {
    @media (min-width: 992px) {
      flex: 0 0 65.777777%;
      max-width: 67.777777%;
    }
  }

  .col-md-2 {
    @media (min-width: 768px) {
      flex: 0 0 0.5;
      max-width: 50%;
    }
  }
}

// section
.section {
  @include WIDTH;
  padding: 4rem 15px 3rem;
  margin: 0 auto;
}

// For transition animation
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 450ms ease-in-out;
}
