@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.heading1 {
  font-size: 36px;
  color: #3c4858;
  font-weight: 700;
  line-height: 54px;
}

.heading2 {
  font-size: 26px;
  color: #3c4858;
  font-weight: 600;
  line-height: 42px;
}

.heading3 {
  font-size: 24px;
  color: #3c4858;
  font-weight: 400;
  line-height: 40px;
}

.heading4 {
  font-size: 20px;
  color: #3c4858;
  font-weight: 600;
  line-height: 34px;
}

.round-text-box {
  padding: 0.75rem 0.25rem;
  border-radius: 7px;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
}

.three-d {
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Pacifico', cursive;
  color: #f5f5f5;
  letter-spacing: 10px;
  font-size: 8rem;
  animation: popup infinite 5s ease-in-out;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
}

@media (max-width: 570px) {
  .three-d {
    font-size: 2.2rem;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919190, 1px 8px 5px rgba(16, 16, 16, 0.4), 1px 12px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
  }
}

@media (min-width: 570px) {
  .three-d {
    font-size: 4rem;
    letter-spacing: 3px;
  }
}

@media (min-width: 1024px) {
  .three-d {
    font-size: 6rem;
  }
}

@media (min-width: 1200px) {
  .three-d {
    font-size: 8rem;
  }
}

@keyframes popup {
  0% {
    color: #fff;
    text-shadow: none;
  }
  50% {
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
  }
  100% {
    color: #fff;
    text-shadow: none;
  }
}

@keyframes popup-sm {
  0% {
  }
}

.gradient-text {
  background: #ea4335;
  background: linear-gradient(90deg, #ea4335 0%, #34a853 36%, #4285f4 68%, #fbbc04 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text h1 {
  font-size: 2rem;
  font-family: 'Pacifico';
}

.navbar {
  border: 0;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 18px 0px rgba(167, 167, 167, 0.12), 0 7px 10px -5px rgba(167, 167, 167, 0.15);
  transition: all 300ms ease-in-out;
  min-height: 9vh;
  display: flex;
}

@media (min-width: 768px) {
  .navbar.navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.navbar .navbar__brand {
  position: relative;
  color: inherit;
  height: 50px;
  font-size: 1.125rem;
  line-height: 30px;
  padding: 0.625rem 0;
  display: inline-block;
  white-space: nowrap;
}

.navbar__collapse {
  flex-grow: 1;
  align-items: center;
}

@media (min-width: 768px) {
  .navbar__collapse {
    display: flex !important;
    flex-basis: auto;
  }
}

.navbar__nav {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar__nav .nav__item {
  position: relative;
  color: inherit;
  padding: 0.9375rem;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 20px;
}

.navbar__nav .nav__item a {
  font-size: 15px;
  color: #3c4858;
  font-weight: 700;
}

.navbar__collapsible-btn {
  display: block;
  height: auto;
  width: auto;
  transition: all 200ms ease-in-out;
}

@media (min-width: 768px) {
  .navbar__collapsible-btn {
    display: none;
    height: 0;
    width: 0;
  }
}

.navbar-transparent {
  box-shadow: none;
}

.sidebar {
  width: 0%;
  max-width: 0;
  min-width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1031;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 4px 0px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
  transition: all 350ms ease-in-out;
}

.sidebar-show {
  width: 75%;
  max-width: 280px;
  min-width: 250px;
}

.sidebar__container {
  position: relative;
  left: -300px;
  transition: all 400ms ease-in-out;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  flex-direction: column;
}

.sidebar__container .image {
  background-color: #ffffff;
  padding: 1.45rem 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 5px 1px rgba(221, 221, 221, 0.45);
  margin-bottom: 2rem;
}

.sidebar__container .sidebar__content {
  width: 100%;
}

.sidebar__container .sidebar__content .sidebar__links {
  list-style: none;
}

.sidebar__container .sidebar__content .sidebar__links li {
  margin: 0.85rem 0;
  padding: 0.75rem 0.35rem;
  box-shadow: 0 2px 4px 2px rgba(221, 221, 221, 0.45);
}

.sidebar__container.show-content {
  left: 0;
}

.footer {
  padding: 2rem 0 1rem;
  box-shadow: 0 -2px 4px 2px rgba(221, 221, 221, 0.45);
}

.footer .align-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer .align-row .socials a {
  margin: 0 0.75rem;
}

@media (max-width: 570px) {
  .footer .align-row {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer .align-row .socials {
    margin-top: 0.65rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .footer .align-row .socials a:nth-child(1) {
    margin-left: 0;
  }
}

.footer hr {
  background-color: #3c4858;
}

.footer .links__container {
  margin-top: 2rem;
  padding: 1rem 0 2rem;
}

@media (max-width: 570px) {
  .footer .links__container {
    margin: 0.75rem 0 0 0;
    padding: 0.5rem 0 1.5rem;
  }
}

@media (max-width: 570px) {
  .footer .links__container .col {
    margin: 0.75rem 0;
  }
}

.footer .links__container .detail__box h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #3c4858;
  text-transform: uppercase;
  letter-spacing: 0;
}

.footer .links__container .detail__box .links a {
  display: block;
  margin: 0.25rem 0;
  color: #3c4858;
  font-size: 17px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .footer .links__container .detail__box .links a {
    width: fit-content;
  }
}

.footer .disclaimer {
  margin-top: 1.5rem;
}

.footer .disclaimer .row__space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 570px) {
  .footer .disclaimer .row__space-between .copyright {
    margin-top: 0.75rem;
  }
  .footer .disclaimer .row__space-between .copyright p {
    font-size: 0.75rem;
  }
}

.home .home-banner {
  text-align: center;
}

@media (min-width: 570px) {
  .home .home-banner {
    font-size: 4rem;
  }
}

@media (min-width: 1024px) {
  .home .home-banner {
    font-size: 6rem;
  }
}

@media (min-width: 1200px) {
  .home .home-banner {
    font-size: 8rem;
  }
}

.animated-box {
  height: 120px;
  width: 120px;
  position: fixed;
  border-radius: 25% 75% 24% 76% / 71% 32% 68% 29%;
  animation: infinite 10s falling cubic-bezier(0.04, 0.34, 0.58, 0.82);
  animation-delay: 1s;
  background-color: #ed4b3d;
  z-index: -1;
  box-shadow: 0 0 8px 2px rgba(237, 75, 61, 0.45);
  top: -20%;
  right: 7%;
}

@media (max-width: 768px) {
  .animated-box {
    height: 75px;
    width: 75px;
  }
}

@media (max-width: 570px) {
  .animated-box {
    height: 55px;
    width: 55px;
  }
}

.animated-circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  position: fixed;
}

@keyframes falling {
  0% {
    top: -10%;
    right: 7%;
    transform: rotateZ(0deg);
  }
  100% {
    top: 110%;
    right: 7%;
    transform: rotateZ(360deg);
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}

b {
  font-weight: 700;
}

.align-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.btn {
  display: inline-block;
  position: relative;
  padding: 12px 30px;
  margin: 0.3125rem 1px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.428571;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 0.2rem;
  outline: 0;
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 1, 1), background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow, transform;
}

.btn:not(:disabled) {
  cursor: pointer;
}

.btn:not(.disabled) {
  cursor: pointer;
}

.btn-primary {
  background-color: #346df1;
  color: #ffffff;
  font-size: 12px;
  line-height: 17.2px;
  box-shadow: 0 0 2px 1px rgba(52, 109, 241, 0.45);
}

.btn-primary:hover {
  box-shadow: 0 1px 6px 1px rgba(52, 109, 241, 0.85);
}

.btn__telegram {
  background-color: #20a0e1;
  color: #ffffff;
  display: flex;
  align-items: center;
  width: fit-content;
}

.btn__discord {
  background-color: #2c2f33;
  color: #ffffff;
  display: flex;
  align-items: center;
  width: fit-content;
}

.card {
  padding: 0 0px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  min-height: 56vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card #image-testimonial-1 {
  background-image: url("../images/home-events.jpg");
}

.card #image-testimonial-2 {
  background-image: url("../images/cpf.png");
}

.card #image-testimonial-3 {
  background-image: url("../images/home-sponsors.jpg");
}

.card #event-image-1 {
  background-image: url("../images/event-image-1.jpeg");
}

@media (max-width: 768px) {
  .card {
    margin: 1rem 0;
  }
}

.card .card__image {
  min-height: 30vh;
  max-height: 30vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.collapse {
  display: none;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

@media (min-width: 570px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.faded-text {
  color: #ddd;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.fixed-top {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.fixed-bottom-container {
  position: absolute;
  bottom: 0;
}

.fixed-top-container {
  position: absolute;
  top: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-center {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.hgaps-sm {
  padding: 0 15px;
}

.icon-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.icon-header__icon {
  margin-right: 3rem;
}

.icon-header__icon-circle {
  display: grid;
  place-items: center;
  width: 55px;
  height: 55px;
  background-color: #3c4858;
  border-radius: 50%;
}

.icon-header__text {
  font-size: 26px;
  color: #3c4858;
  font-weight: 400;
  text-transform: capitalize;
}

.ml-auto {
  margin-left: auto;
}

@media (max-width: 570px) {
  .no-hgaps-sm {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 768px) {
  .no-hgaps-tab {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.no-hgaps {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.paragraph {
  font-size: 17px;
  line-height: 26.4px;
  color: #404040;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

@media (max-width: 768px) {
  .text-center-tab {
    text-align: center;
  }
}

.vertical-gap-sm {
  margin: 1.2rem 0;
}

.vertical-gap {
  margin: 2rem 0;
}

.vertical-gap-lg {
  margin: 4rem 0;
}

@media (max-width: 570px) {
  .vgaps-mbl-sm {
    margin: 0.75rem 0;
  }
}

@media (max-width: 768px) {
  .vgaps-tab-sm {
    margin: 0.75rem 0;
  }
}

.vh-75 {
  min-height: 75vh;
  width: 100%;
}

@media (max-width: 768px) {
  .vh-75 {
    min-height: 26vh;
  }
}

@media (max-width: 540px) {
  .vh-75 {
    min-height: unset;
  }
}

.w-100 {
  width: 100%;
}

.z-push-back {
  z-index: -10;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.row .col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .row .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 992px) {
  .row .col-lg-6 {
    flex: 0.5;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .row .col-lg-8 {
    flex: 0 0 65.777777%;
    max-width: 67.777777%;
  }
}

@media (min-width: 768px) {
  .row .col-md-2 {
    flex: 0 0 0.5;
    max-width: 50%;
  }
}

.section {
  padding: 4rem 15px 3rem;
  margin: 0 auto;
}

@media (min-width: 570px) {
  .section {
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .section {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .section {
    max-width: 1140px;
  }
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 450ms ease-in-out;
}
